
#navbar {
float:none;
font-family:"Lucida Grande",Lucida,Verdana,sans-serif;
font-size:14px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
height:32px;
line-height:normal;
margin:0pt;
padding:0px;
position:relative;
width:100%;
z-index:900;
}
#navbar ul {
float:left;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0pt 0pt 0pt 0px;
padding:0pt;
}
#navbar ul li {
margin:0pt;
position:relative;
}
#navbar a {
color:#FFFFFF;
cursor:pointer;
display:block;
float:left;
height:32px;
line-height:32px;
padding:0px 15px;
text-decoration:none;
}
#navbar li a:hover {
background:#000000 none repeat scroll 0% 50%;
}
#navbar ul li:hover, #navbar ul li.sfhover {
}
#navbar li {
float:left;
padding:0pt;
}
#navbar ul li {
}
#navbar ul li ul li {
margin-right:0px;
}
#navbar li:hover ul, #navbar li li:hover ul, #navbar li li li:hover ul, #navbar li li li 

li:hover ul, #navbar li.sfhover ul, #navbar li li.sfhover ul, #navbar li li li.sfhover ul, 

#navbar li li li li.sfhover ul {
background:#4d1a79 none repeat scroll 0%;
}
#navbar li:hover a, #navbar li.sfhover a {
color:#FFFFFF;
}
#navbar ul li ul li a:link, #navbar ul li ul li a:visited {
color:#FFFFFF;
}
#navbar ul li ul li a:hover, #navbar ul li.active ul li a:hover {
background:#000000 none repeat scroll 0%;
color:#ffffff;
}
#navbar li li a {
font-weight:normal;
height:26px;
line-height:26px;
padding:0pt;
text-indent:5px;
}
#navbar ul ul a {
display:block;
text-decoration:none;
text-transform:none;
width:173px;
}
#navbar li li {
background:transparent none repeat scroll 0%;
padding:0pt;
}
#navbar li li {
float:left;
padding:0pt;
width:173px;
}
#navbar li ul ul {
margin:-29px 0pt 0pt 173px;
}
#navbar li:hover, #navbar li.sfhover {
left:0pt;
}
#navbar ul ul a:hover {
background:transparent none repeat scroll 0%;
height:26px;
line-height:26px;
margin:0pt;
padding:0pt;
}
#navbar li ul {
font-family:"Lucida Grande",Lucida,Verdana,sans-serif;
font-size:12px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
height:auto;
left:-999em;
line-height:normal;
margin:0pt;
padding:0pt;
position:absolute;
top:32px;
width:173px;
}
#navbar li.active a:link, #navbar li.active a:visited, #navbar li.active ul.sfhover {
background:#000000 none repeat scroll 0% 50%;
color:#FFFFFF;
}
#navbar li.active ul li a:link, #navbar li.active ul li a:visited, #navbar li.active li {
background:#4D1979 none repeat scroll 0%;
color:#FFFFFF;
}
#navbar li.active li a:hover, #navbar li.active li.hover {
}
#navbar li li:hover {
}
#navbar ul li ul li a.child, #navbar ul li ul li a.child:hover {
}
#navbar ul li.active ul li a.child {
}
#navbar ul li ul li a:hover {
}
#navbar li:hover ul ul, #navbar li:hover ul ul ul, #navbar li:hover ul ul ul ul, #navbar 

li.sfhover ul ul, #navbar li.sfhover ul ul ul, #navbar li.sfhover ul ul ul ul {
left:-999em;
}
#navbar li:hover ul, #navbar li li:hover ul, #navbar li li li:hover ul, #navbar li li li 

li:hover ul, #navbar li.sfhover ul, #navbar li li.sfhover ul, #navbar li li li.sfhover ul, 

#navbar li li li li.sfhover ul {
left:0pt;
z-index:100;
}
#navbar li.sfhover ul li.sfhover {
background:#D8CCFF none repeat scroll 0%;
}
#navbar li:hover li:hover a.child, #navbar li.sfhover li.sfhover a.child {
color:#FFFFFF;
}